* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  caret-color: rgba(0, 0, 0, 0);
}

.container {
  width: 80%;
  margin: auto;
}

a {
  color: unset;
  text-decoration: unset;
}

header {
  text-align: center;
  background-color: coral;
}

header h1 {
  padding: 30px 0;
}

header ul {
  list-style: none;
}

header ul li {
  display: inline-block;
  margin: 0 20px 20px;
}

header ul li a.active {
  color: red;
}

footer {
  height: 150px;
  line-height: 150px;
  text-align: center;
  background-color: lightblue;
}

